body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

section {
    display: flex;
    align-items: center;
}

img {
    max-width: 50%;
    float: right;
    margin-left: 20px;
}

p {
    max-width: 40%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #000000;
    text-align: center;
}

#planetData {
    color: white;
}
